use IQCare
go

update mst_Drug set DeleteFlag=1
go


insert into dtl_DrugStockTransactions(drug_pk,TransactionDate,TransactionType,StoreId,SourceStoreId,SupplierId,Quantity,StoreBal,BatchNo,ExpiryDate,ptn_pharmacy_pk,userid,createdate)
select Drug_pk, '01-Mar-2019', 1, 3,0,0,10000,10000,'XXX','31-Dec-2022', 0,1,'01-Mar-2019' from mst_Drug where DeleteFlag=0
go

